---
layout: layouts/home.njk
eleventyExcludeFromCollections: true
tags:
    - nav
navTitle: Archive
permalink: /writing/
---

<h2>Archives</h2>

{% set postslist = collections.writing %}

{% include "postslist.njk" %}