---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Latest Posts</h2>

{% set postslist = collections.writing | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/writing/' | url }}">the archive</a>.</p>