/*
    Colors
*/

// $red: rgb(255,99,71);
// $green: rgba(0,170,85,1);

$white: hsla(0, 0%, 100%, 1);
$text: hsla(0, 0%, 16%, 1);

$warning: hsla(9, 100%, 63.9%,1);
$success: hsla(150, 100%, 33%, 1);

$grey: hsla(0, 0%, 66.7%,1);
$shadow: hsla(0, 0%, 80%, 0.5);

/* SMOKY BLACK */
$smokyblack: hsla(210%, 11%, 4%, 1);

/* QUICK SILVER */
$quicksilver: hsla(283%, 4%, 65%, 1);

/* WHITE SMOKE */
$whitesmoke: hsla(140%, 16%, 96%, 1);

/* DAVY'S GRAY */
$davysgray: hsla(214%, 4%, 35%, 1);

/* RAISIN BLACK */
$raisinblack: hsla(130%, 8%, 15%, 1);

/* Hansa Yellow */
$hansayellow: hsla(44.9, 80.9%, 69.2%, 1);