/* @import "modules/colors";

$IBM: 'IBM Plex Sans Condensed', sans-serif;

body {
    background-color: $white;
    color: $smokyblack;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    background: $smokyblack;
    display: inline-block;
    color: $white;
    font-family: $IBM;
    padding: 0.5em;

    a {
        color: $white;
    }

}

a {
    background-color: $raisinblack;
    color: $whitesmoke;
    padding: 0 0.2em;
}

*/


body {
    // background-color: $white;
    // color: $smokyblack;
    // font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 50%;
}