---
layout: layouts/post.njk
title: Archive
templateClass: tmpl-post
navTitle: Archive
permalink: /archive/
eleventyNavigation:
  key: Archive
  order: 3
---

<p>Happy reading!</p>

<h3>Writing</h3>

{% set postslist = collections.writing %}
{% include "postslist.njk" %}

<h3>Notes</h3>

{% set postslist = collections.weeknotes %}
{% include "postslist.njk" %}
