---
layout: layouts/home.njk
eleventyExcludeFromCollections: true
tags:
    - nav
navTitle: PastWriting
---

<h2>Past Writing Archives</h2>

{% set postslist = collections.pastwriting %}

{% include "postslist.njk" %}
